* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit !important;
}

.btn {
  padding: 5px 15px;
  border-radius: 2px;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 350px) {
  .btn {
    padding: 3px 12px;
  }
}

@media (min-width: 0px) and (max-width: 414px) {
  .container {
    padding-right: 0;
  }
}

.header {
  height: 150px;
  width: 100vw;
  background: url("../img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  border-bottom: 1px solid lightgrey;
}
@media (min-width: 0px) and (max-width: 414px) {
  .header {
    padding-left: 20px;
  }
}
.header__left {
  height: 150px;
}
.header__left .left__icon {
  background: crimson;
  width: 100px;
  height: 100px;
  position: relative;
}
.header__left .left__icon .fa-th {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #fff;
}
.header__left .left__title {
  text-transform: uppercase;
}
.header__left .left__title .title__content {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 38px;
}
@media (min-width: 0px) and (max-width: 350px) {
  .header__left .left__title .title__content {
    font-size: 30px;
  }
}
.header__left .left__title .title__content p {
  padding: 0;
  margin: 0;
  height: 50px;
  margin-top: -10px;
}
.header__right__content {
  text-transform: uppercase;
  color: grey;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 350px) {
  .header__right__content {
    margin-top: 5px;
    font-size: 12px;
  }
}
.header__right__content .content__actual-page {
  color: crimson;
}

main .product__sort .fa-sort-amount-down {
  font-size: 24px;
  color: lightgrey;
}
main .product__sort__title {
  min-width: 60px;
}
@media (min-width: 0px) and (max-width: 350px) {
  main .product__sort__title {
    min-width: 45px;
    font-size: 12px;
  }
}
@media (min-width: 0px) and (max-width: 350px) {
  main .product__sort .input {
    margin: 0 5px !important;
  }
}
main .product__card {
  cursor: pointer;
  width: calc(50% - 20px);
  background: #fefefe;
  border: 1px solid lightgrey;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: 0.1s;
  position: relative;
}
main .product__card:hover {
  outline: 2px solid crimson;
}
main .product .col-12 {
  padding: 0;
}
main .product .card__image {
  width: 100%;
}
main .product .card__sale {
  position: absolute;
  top: -4px;
  right: 30px;
  background: crimson;
  display: inline-block;
  width: auto;
  text-align: center;
  color: lightgrey;
  font-size: 14px;
  padding: 5px;
  font-weight: bold;
}
main .product .card__sale--show-off {
  display: none;
}
main .product .card__title {
  text-transform: uppercase;
}
main .product .card__rate .fa-star {
  color: gold;
  font-size: 13px;
}
main .product .card__prize {
  right: 0;
  bottom: 0;
}
main .product .card__prize__amount {
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}
main .product .card__prize__amount--sale {
  font-size: 22px;
  color: grey;
  text-decoration: line-through;
}
main .product .card__action__links {
  color: crimson;
  font-size: 12px;
}
main .product .card__action__button .fa-shopping-cart {
  font-size: 14px;
}
main .product .cart__title .icon {
  background: crimson;
  width: 30px;
  height: 30px;
  position: relative;
}
main .product .cart__title .icon .fa-shopping-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #fff;
}
main .product .cart__title .title__content {
  margin-bottom: 0;
}
main .product .cart__list__item {
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  position: relative;
}
main .product .cart__list__item:hover > .close {
  opacity: 1;
}
main .product .cart__list__item .close {
  position: absolute;
  top: 20px;
  right: 0;
  opacity: 0;
  display: block;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border-width: 3px;
  border-style: solid;
  border-color: grey;
  border-radius: 100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%, white 56%, transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white 56%, transparent 56%, transparent 100%);
  background-color: grey;
  transition: all 0.5s ease;
}
main .product .cart__list__item .item__image {
  width: 84px;
  height: 84px;
}
main .product .cart__list__item .item__content {
  border-left: 1px solid lightgrey;
}
main .product .cart__list__item .item__content__info .title {
  color: crimson;
  font-size: 14px;
}
main .product .cart__list__item .item__content__info .prize {
  color: grey;
  font-size: 18px;
}
main .product .cart__list__item .item__content__rate {
  color: gold;
  font-size: 12px;
}
main .product .cart__list__subtotal {
  font-size: 14px;
  margin-left: -15px;
  margin-top: 10px;
}
main .product .cart__list__subtotal .title {
  color: grey;
}
main .product .cart__list__subtotal .prize {
  color: crimson;
}
main .product .cart__list__action .btn {
  background: crimson;
  margin-right: 25px;
  margin-left: -15px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
main .product .cart__list__action .btn .fas {
  font-size: 16px;
  margin-right: 10px;
  transform: translateY(2px);
}
main .product .category__title .icon {
  background: crimson;
  width: 30px;
  height: 30px;
  position: relative;
}
main .product .category__title .icon .fa-th {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #fff;
}
main .product .category__title .title__content {
  margin-bottom: 0;
}
main .product .category__list .list-group {
  border: none;
}
main .product .category__list .list-group-item {
  padding-left: 0;
  border: none;
  border-bottom: 2px solid lightgrey;
}
main .product .category__list .list-group-item:last-child {
  border-bottom: 1px solid lightgrey;
}
main .product .category__list .list-group-item .fas {
  padding-left: 5px;
  margin-right: 15px;
}

/*# sourceMappingURL=main.css.map */
