* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit !important;
}

.btn {
    padding: 5px 15px;
    border-radius: 2px;
    font-size: 14px;
}

@import 'colors.scss';


.header {
    height: 150px;
    width: 100vw;
    background: url('../img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    border-bottom: 1px solid $light-text;
    &__left {
        height: 150px;
        .left {
            &__icon {
            background: $theme;
            width: 100px;
            height: 100px;
            position: relative;
            .fa-th {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 35px;
                color: #fff;
            }
        }
        &__title {
            text-transform: uppercase;
            .title__content {
                margin: 0;
                padding: 0;
                font-weight: 900;
                font-size: 38px;
                
                p {
                    padding: 0;
                    margin: 0;
                    height: 50px;
                    margin-top: -10px;
                }
            }
        }
        }
    }
    &__right {
        &__content {
            text-transform: uppercase;
            color: $dark-text;
            font-size: 14px;
            .content__actual-page {
                color: $theme;
            }
        }
    }
}

main {
    .product {

        &__sort {
            .fa-sort-amount-down {
                font-size: 24px;
                color: $light-text;
            }
        }
        &__card {
            width: calc(50% - 20px);
            background: #fefefe;
            border: 1px solid $light-text;
            margin-right: 20px;
            margin-bottom: 20px;
            box-sizing: border-box;
            transition: 0.1s;
            position: relative;
            &:hover {
                outline: 2px solid $theme;
            }
        }
        .card {
            &__sale {
                position: absolute;
                top: -4px;
                right: 30px;
                background: $theme;
                display: inline-block;
                width: auto;
                text-align: center;
                color: $light-text;
                font-size: 14px;
                padding: 5px;
                font-weight: bold;
                &--show-off {
                    display: none;
                }
            }
            &__title {
                text-transform: uppercase;
            }
            &__rate {
                .fa-star {
                    color: gold;
                    font-size: 13px;
                }
            }
            &__prize {
                right: 0;
                bottom: 0;
                &__amount {
                    font-size: 28px;
                    font-weight: bold;
                    margin-left: 10px;
                    &--sale {
                        font-size: 22px;
                        color: $dark-text;
                        text-decoration: line-through;
                    }
                }
            }
            &__action {
                &__links {
                    color: $theme;
                    font-size: 12px;
                }
                &__button {
                    .fa-shopping-cart {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}